<a href="https://colab.research.google.com/github/sarapinedap-tech/Parcial-1/blob/master/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parcial_1

In [6]:
#DataFrame
import pandas as pd
data = {
'Producto': ['A', 'B', 'C', 'D', 'E', 'F'],
'Ventas': [120, 340, 290, 410, 150, 380],
'Costo': [80, 200, 180, 260, 90, 240],
'Categoria': ['Tecnología', 'Hogar', 'Tecnología', 'Hogar', 'Oficina', 'Tecnología'],
'Mes': ['Enero', 'Enero', 'Febrero', 'Febrero', 'Marzo', 'Marzo']
}
df = pd.DataFrame(data)

In [34]:
#Punto_1
ventas_np = np.array(df['Ventas'])

promedio = np.mean(ventas_np)
maximo = np.max(ventas_np)
minimo = np.min(ventas_np)
print("Promedio de ventas:", promedio)
print("Venta máxima:", maximo)
print("Venta mínima:", minimo)

Promedio de ventas: 281.6666666666667
Venta máxima: 410
Venta mínima: 120

La columna Ventas del DataFrame es una Serie de Pandas porque organiza datos, el enunciado me pide crear un arreglo de Numpy, que permite calcular números, para hacerlo debo conviertir la serie en un arreglo numpy, se hace mediante np.array().Así ya se podrán aplicar funciones estadísticas como mean, max y min.

np.mean() calcula el valor promedio de todas las ventas.

np.max() indica la venta más alta del arreglo.

np.min() muestra la venta más baja del arreglo.

Se agregó print("Promedio de ventas:", promedio) para poder visualizar el resultado obtenido con el enunciado acorde al mismo. Se hizo de la misma forma para los demás datos calculados a través de print ("enunciado", dato solicitado)

In [35]:
#Punto_2
ventas_mayor_300 = (ventas_np > 300).astype(int)
df[['Ventas', 'Venta_mayor_300']].style.hide(axis='index')


Cuando se usa (ventas_np > 300) lo que se hace es compara cada valor del arreglo de ventas con el valor 300 y genera un arreglo que convierte los valores a verdadero o falso,True indica que la venta es mayor a 300 y False que no lo es.

Luego se usa .astype(int) para convertir los datos que están como verdadero o falso en valores numéricos, 1 representa que la condición se cumple o verdadero y 0 que no se cumple, falso.

Al arreglo se le asigna la variable ventas_mayor_300 para nombrarlo.

Posteriormente se agrega el arreglo ventas_mayor_300 como una nueva columna del DataFrame para asociar cada valor de la venta con el número que indica si se cumple o no.

Se seleccionan únicamente las columnas Ventas y Venta_mayor_300, se oculta el índice del DataFrame para mejorar la presentación de los resultados porque da una numeración de los datos de 0 a 5 que me pareció confusa y no es necesaria en la visualización.

In [36]:
#Punto_3
df['Ganancia'] = df['Ventas'] - df['Costo']
df.head()
df[df['Ganancia'] > 100][['Producto', 'Ventas', 'Costo', 'Ganancia']].style.hide(axis='index')

In [37]:
#Punto_4
df[
    (df['Categoria'] == 'Tecnología') & (df['Ventas'] > 300)
][['Producto', 'Ventas', 'Ganancia']].style.hide(axis='index')

In [38]:
#Punto_5
agrupado = df.groupby('Mes').agg({
    'Ventas': 'sum',
    'Ganancia': 'mean'
}).reset_index()
agrupado['Ganancia'] = agrupado['Ganancia'].astype(int)
agrupado = agrupado.rename(columns={
    'Ventas': 'Ventas totales',
    'Ganancia': 'Ganancia promedio'
})
agrupado.style.hide(axis='index')

La función sum() sirve para calcular la suma total de los valores de un conjunto de datos, a diferencia de la función mean() que calcula el promedio al dividir la suma de los valores entre el la cantidad de estos. En este caso se usó sum() para obtener las ventas totales por mes y mean() para calcular la ganancia promedio mensual.